* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    background-color: rgb(227, 64, 64);
    color: white;
    font-size: 20px;
    font-family: "Bobby-Jones-Soft-Outline", sans-serif !important;
    font-weight: 700;
    padding: 6px;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}
a{
    cursor: pointer;
}
nav a {
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 0px 30px;
    display: Flex;
    align-items: center;
}

nav a:hover {
    background-color: rgb(102, 102, 102);
}

nav li:first-child {
    margin-right: auto;
    font-size: 28px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgba(219, 110, 110, 0.2);
    backdrop-filter: blur(10px);

}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    height: 50px;
    color: black;

}

.sidebar .cut {
    padding-left: 190px;
}

.menu-btn {
    display: none;
}

@media (max-width:729px) {
    .hideonMobile {
        display: none;
    }
    .menu-btn {
        display: flex;
    }
}
.recipeRecomment{
    padding:12px;
}
.recipeRecomment div{
    padding:10px;
}
.recipeRecomment div button{
    padding:10px;
}
.mainPic{
    background-image:url("Images/pasta.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.MainCover{
    padding:10px 100px 10px 100px;
}
@media (max-width:729px){
    
    .MainCover{
        padding:10px 10px 10px 10px;
    }
    .SecondDivMain{
        padding:5px 5px 5px 5px;
    }
    .favres{
    padding:0px 0px 5px 0px;
    overflow: hidden;
    height:155px;  
    }
}
.SecondDivMain{
    padding:10px 25px 10px 25px;
}
.recipes {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.recipes h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
}
.favres{
    padding:0px 0px 5px 0px;
    overflow: hidden;
    height:170px;
}
.recipes .first-recipe {

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
}

.first-recipe .first-recipe-text {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    width: 79%;
    align-items: start;
}

.first-recipe button {
    height: 90px;
    width: 7%;
    border: 1px solid rgb(173, 173, 173);
    box-shadow: 2px 2px 2px grey;
    border-radius: 2px;
    font-size: 15px;

}

.first-recipe button:hover {
    background-color: rgb(190, 190, 190);
}

.first-recipe button:active {
    transform: scale(0.8);
    transition-duration: 0.2s;
}

.recipes .second-recipe {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
}

.second-recipe .second-recipe-text {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    width: 79%;
    align-items: start;
}

.second-recipe button {
    height: 90px;
    width: 7%;
    border: 1px solid rgb(173, 173, 173);
    box-shadow: 2px 2px 2px grey;
    border-radius: 2px;
    font-size: 15px;
}

.second-recipe button:hover {
    background-color: rgb(192, 190, 190);
}

.second-recipe button:active {
    transform: scale(0.8);
    transition-duration: 0.2s;
}

.recipes .third-recipe {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
}

.third-recipe .third-recipe-text {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    width: 79%;
    align-items: start;
}

.third-recipe button {
    height: 90px;
    width: 7%;
    border: 1px solid rgb(173, 173, 173);
    box-shadow: 2px 2px 2px grey;
    border-radius: 2px;
    font-size: 15px;
}

.third-recipe button:hover {
    background-color: rgb(184, 182, 182);
}

.third-recipe button:active {
    transform: scale(0.8);
    transition-duration: 0.2s;
}

.recipes .fourth-recipe {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
}

.fourth-recipe .fourth-recipe-text {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    width: 79%;
    align-items: start;
}

.fourth-recipe button {
    height: 90px;
    width: 7%;
    border: 1px solid rgb(173, 173, 173);
    box-shadow: 2px 2px 2px grey;
    border-radius: 2px;
    font-size: 15px;
}

.fourth-recipe button:hover {
    background-color: rgb(185, 184, 184);
}

.fourth-recipe button:active {
    transform: scale(0.8);
    transition-duration: 0.2s;
}

.recipes .fifth-recipe {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
}

.fifth-recipe .fifth-recipe-text {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    width: 79%;
    align-items: start;
}

.fifth-recipe button {
    height: 90px;
    width: 7%;
    border: 1px solid rgb(173, 173, 173);
    box-shadow: 2px 2px 2px grey;
    border-radius: 2px;
    font-size: 15px;
}

.fifth-recipe button:hover {
    background-color: rgb(196, 195, 195);
}

.fifth-recipe button:active {
    transform: scale(0.8);
    transition-duration: 0.2s;
}

.recipes .sixth-recipe {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
}

.sixth-recipe .sixth-recipe-text {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    width: 79%;
    align-items: start;
}

.sixth-recipe button {
    height: 90px;
    width: 7%;
    border: 1px solid rgb(173, 173, 173);
    box-shadow: 2px 2px 2px grey;
    border-radius: 2px;
    font-size: 15px;
}

.sixth-recipe button:hover {
    background-color: rgb(196, 194, 194);
}

.sixth-recipe button:active {
    transform: scale(0.8);
    transition-duration: 0.2s;
}


/*Media query*/
@media (max-width:600px) {
    .nav {
        font-size: 12px;
        display: flex;
        width: 100%;
        gap: 10px;
    }

    main {
        width: 100%;
    }

    .recipes {
        font-size: 10px;
    }

    .recipes img {
        height: 100px;
        width: 100px;
    }

    .recipes button {
        height: 40px;
        width: 80px;
    }

    footer {
        height: 700px;
    }



}

footer {
    width: 100%;
    background-color: rgb(182, 182, 182);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;

    gap: 10px;
}

footer input {
    height: 30px;
    width: 80%;
}

footer button {
    height: 30px;
    width: 30%;
}

footer h1 {
    font-size: 25px;
}

main {
    height: 1590px;
}