
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    padding:12px 100px 12px 100px;
}
footer{
    padding:12px 100px 0px 100px;
}

.sidebar{
    padding:12px;
}


@media (max-width:729px) {
    .hideonMobile {
        display: none;
    }
    nav{
        padding:12px
    }
}
.recipeRecomment{
    padding:12px;
}
.recipeRecomment div{
    padding:10px;
}
.recipeRecomment div button{
    padding:10px;
}
.recipeRecomment input{
    padding:12px;
}
footer div{
    padding:30px;
    font-size:25px;
    font-weight: bold;
}
footer div span{
    background:linear-gradient(to right,#F9D423 ,#ff393c,#23f935);
    -webkit-background-clip: text;
    background-clip: text;
    background-size:400% 100%;
    color:transparent;
    animation:glowing 50s linear infinite;
}
@keyframes glowing {
    0%{
        background-position: 0% 0%;
    }
    50%{
        background-position:400% 0%;
    }
    100%{
        background-position:0% 0%;
    }
}
.mainPic{
    background-image:url("Images/pasta.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.MainCover{
    padding:10px 100px 10px 100px;
}
@media (max-width:729px){
    footer{
        padding:12px 12px 0px 12px;
    }
    footer div{
        padding:12px;
    }
    .MainCover{
        padding:10px 10px 10px 10px;
    }
    .SecondDivMain{
        padding:5px 5px 5px 5px;
    }
    .favres{
    padding:0px 0px 5px 0px;
    overflow: hidden;
    height:155px;  
    }
}
.SecondDivMain{
    padding:10px 25px 10px 25px;
}
.recipes {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}


/*Media query*/
@media (max-width:600px) {
    

    main {
        width: 100%;
    }

    .recipes {
        font-size: 10px;
    }

    .recipes img {
        height: 100px;
        width: 100px;
    }

    .recipes button {
        height: 40px;
        width: 80px;
    }



}